<!-- about.component.html -->
<div class="container-fluid relative">
    <!-- Back Button -->
    <a routerLink="/home" class="bg-transparent hover:bg-transparent text-white md:fixed md:top-0 md:left-0 font-bold py-2 px-4 rounded mt-4 ml-4 block w-24 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </a>

    <!-- Card Layout -->
    <div class="container mx-auto mt-8">
        <!-- Back Button -->

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="shadow-lg rounded-lg p-8 text-white">
                    <h1 class="text-3xl font-bold text-center p-4">ABOUT ME</h1>
                    <div class="bg-transparent text-wrap text-justify rounded-lg">
                        <p class="text-white text-lg">
                            Passionate about problem-solving and harnessing technology to address core challenges encountered in diverse organizational settings. I thrive on integrating innovative solutions to streamline processes and drive efficiency. Throughout my journey, I have
                            actively contributed to a range of roles and responsibilities, leveraging my expertise to implement data-driven strategies, develop transformative applications, and facilitate smooth ICT operations. Committed to continuous
                            improvement and always eager to tackle new challenges head-on.
                        </p>
                    </div>

                    <!-- Professional Experience Section -->
                    <br>
                    <section class="mb-8 text-wrap">
                        <h2 class="text-2xl font-bold mb-2">Professional experiences</h2>
                        <ul>
                            <li>
                                <h2 class="text-xl font-bold mb-2">LABOUR RESEARCH ANALYST</h2>
                                <h3 class="text-xl mb-2"><b>Company:</b> State Department of Labour and Skills Development</h3>
                                <ol class="list-disc p-4 list-inside mb-4">
                                    <li>Conducted Data Mining exercise</li>
                                    <li>Conducted data cleaning and analysis</li>
                                    <li>Created visually appealing data visualizations and reports</li>
                                    <li>Utilized tools such as Power BI, STATA, and Excel</li>
                                </ol>
                            </li>
                            <li>
                                <h2 class="text-xl font-bold mb-2">Data Analyst</h2>
                                <h3 class="text-xl mb-2"><b>Company:</b> Mombasa Water Supply and Sanitation Company LTD</h3>
                                <ol class="list-disc p-4 list-inside mb-4">
                                    <li>Developed data collection process</li>
                                    <li>Developed data analysis tools</li>
                                    <li>Developed data visualization tools</li>
                                    <li>Create and maintain reports and dashboards</li>
                                    <li>Collaborated with cross-functional teams</li>
                                </ol>
                            </li>
                            <li>
                                <h2 class="text-xl font-bold mb-2">Android App Development</h2>
                                <h3 class="text-xl mb-2"><b>Company:</b> MOWASSCO</h3>
                                <ol class="list-disc p-4 list-inside mb-4">
                                    <li>Developed an android application to streamline account management and customer data collection</li>
                                    <li>Utilized tools such as Android Studio and Flutter SDK for app development</li>
                                    <a href="https://drive.google.com/file/d/1AVBI75L-8EcwOUtMpgHUxdRK-CWie13m/view" target="_blank">Download the app here</a>
                                </ol>
                            </li>
                        </ul>
                    </section>

                    <!-- Skills Section -->
                    <section class="mb-8">
                        <h2 class="text-2xl font-bold mb-2">Skills</h2>
                        <ul class="flex flex-wrap m-1 text-black ">
                            <li class="m-1 p-2 bg-gray-200 rounded shadow-lg rounded-lg"><b>Programming Languages:</b> Python, Dart, Java, JavaScript, PHP</li>
                            <li class="m-1 p-2 bg-gray-200 rounded shadow-lg rounded-lg"><b>Web Development:</b> Angular, Django</li>
                            <li class="m-1 p-2 bg-gray-200 rounded shadow-lg rounded-lg"><b>Database Management:</b> MongoDB, MySQL, NoSQL, SQLite</li>
                            <li class="m-1 p-2 bg-gray-200 rounded shadow-lg rounded-lg"><b>Cloud Technologies:</b> Azure, Google Cloud Platform</li>
                            <li class="m-1 p-2 bg-gray-200 rounded shadow-lg rounded-lg"><b>Version Control:</b> Git, GitHub</li>
                            <!-- ... and so on -->
                        </ul>
                    </section>

                    <!-- Volunteering & Leadership Section -->
                    <section class="pb-4 mb-4">
                        <h2 class="text-2xl font-bold mb-2 ">Volunteering & Leadership</h2>
                        <p>Actively involved with YES Kenya as an alumni volunteer in Mombasa, Kenya. Actively contributed to community development initiatives, utilizing skills and experiences to make positive contributions to local and global communities.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
